---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=40&part=snippet,contentDetails&playlistId=abcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.playlistItem",
            "reason": "playlistNotFound",
            "message": "The playlist identified with the requests \u003ccode\u003eplaylistId\u003c/code\u003e parameter cannot be found.",
            "locationType": "parameter",
            "location": "playlistId"
           }
          ],
          "code": 404,
          "message": "The playlist identified with the requests \u003ccode\u003eplaylistId\u003c/code\u003e parameter cannot be found."
         }
        }
  recorded_at: Wed, 13 May 2020 20:41:38 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=abcd&key=<YOUTUBE_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "mGA1EaH52704ayTjD3mfU6eoKjU",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          },
          "items": []
        }
  recorded_at: Wed, 13 May 2020 20:41:38 GMT
recorded_with: VCR 5.1.0
