---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <GITHUB_TOKEN_1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1589166797'
      Etag:
      - W/"ffbb8091823b33578aa152bb59bc7edc"
      X-Oauth-Scopes:
      - public_repo, repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"disconnectme","id":698691,"node_id":"MDQ6VXNlcjY5ODY5MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/698691?v=4","gravatar_id":"","url":"https://api.github.com/users/disconnectme","html_url":"https://github.com/disconnectme","followers_url":"https://api.github.com/users/disconnectme/followers","following_url":"https://api.github.com/users/disconnectme/following{/other_user}","gists_url":"https://api.github.com/users/disconnectme/gists{/gist_id}","starred_url":"https://api.github.com/users/disconnectme/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/disconnectme/subscriptions","organizations_url":"https://api.github.com/users/disconnectme/orgs","repos_url":"https://api.github.com/users/disconnectme/repos","events_url":"https://api.github.com/users/disconnectme/events{/privacy}","received_events_url":"https://api.github.com/users/disconnectme/received_events","type":"User","site_admin":false}]'
  recorded_at: Mon, 11 May 2020 02:14:00 GMT
recorded_with: VCR 5.1.0
