<p>Hi <%= @user.first_name %>,</p>

<p>Thanks for registering! To activate your account click the link below.</p>

<%= confirm_email_url(@user.confirm_token) %>

<p>Thank You</p>

<p>Team Brownfield</p>
