---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <GITHUB_TOKEN_1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1589166797'
      Etag:
      - W/"e42d3adc032dbdff86882437b26cd7b2"
      X-Oauth-Scopes:
      - public_repo, repo:status, repo_deployment
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"strafe","id":15663890,"node_id":"MDQ6VXNlcjE1NjYzODkw","avatar_url":"https://avatars0.githubusercontent.com/u/15663890?v=4","gravatar_id":"","url":"https://api.github.com/users/strafe","html_url":"https://github.com/strafe","followers_url":"https://api.github.com/users/strafe/followers","following_url":"https://api.github.com/users/strafe/following{/other_user}","gists_url":"https://api.github.com/users/strafe/gists{/gist_id}","starred_url":"https://api.github.com/users/strafe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/strafe/subscriptions","organizations_url":"https://api.github.com/users/strafe/orgs","repos_url":"https://api.github.com/users/strafe/repos","events_url":"https://api.github.com/users/strafe/events{/privacy}","received_events_url":"https://api.github.com/users/strafe/received_events","type":"User","site_admin":false},{"login":"alex-latham","id":56228986,"node_id":"MDQ6VXNlcjU2MjI4OTg2","avatar_url":"https://avatars3.githubusercontent.com/u/56228986?v=4","gravatar_id":"","url":"https://api.github.com/users/alex-latham","html_url":"https://github.com/alex-latham","followers_url":"https://api.github.com/users/alex-latham/followers","following_url":"https://api.github.com/users/alex-latham/following{/other_user}","gists_url":"https://api.github.com/users/alex-latham/gists{/gist_id}","starred_url":"https:/[...]
